/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

html {
  background-color: #0000ff22;
}

#cabecalho {
  background-color: #0000ff88;
  text-align: center;
}

h1,
h2 {
  font-family: Arial, Helvetica, serif;
}

.link {
  display: inline;
  margin: 0 15px;
}

.link a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

#conteudo {
  line-height: 1.5;
}

form {
  border: solid 1px;
  background-color: #909090;
  padding: 10px;
}

p {
  color: #00bb00;
}

form button {
  background-color: #0000ff88;
  color: #fff;
}

footer {
  border-top: solid 2px #f00;
}
