/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

html {
  background-color: #0000ff22;
}

#cabecalho {
  background-color: #0000ff88;
}

h1,
h2 {
  font-family: Arial, Helvetica, serif;
}
