/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

/* Tag */
h1 {
  text-align: center;
  background-color: #e8240e;
  color: #fff;
}

/* Class */
.link {
  color: green;
}
/*herança*/
ul .link {
  color: #e8240e;
  display: inline;
  margin: 0 3%;

  /* nesting links */
  a {
    text-decoration: none;
    color: #e8240e;
  }
}

/* ID */
#container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#menu ul {
  text-align: center;
}
